@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
